body {
  background: #ffffff;
  /* font-family: "Libre Caslon Display", serif; */
  font-weight: 400;
  font-style: normal;
  font-family: Inter, sans-serif;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  color: #ffffff;
  font-size: 2.5rem;
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 2.3rem;
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  padding: 1rem 0;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  color: #1a120f;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.header button {
  background: #1a120f;
  width: 130px;
  border: none;
  cursor: pointer;
  height: 40px;
  border-radius: 5px;
  color: #d6cdc9;
}

.session_one,
.session_two,
.session_three,
.session_four {
  width: 100%;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-bottom: 3rem; */
}

.banner_image {
  width: 100%;
  height: 100%;
  /* object-fit: scale-down; */
  background: #1a120f;

  img {
    width: 100%;
    opacity: 0.1;
  }
}

.banner-title {
  position: absolute;
  z-index: 1;
}

.gallery {
  width: 100%;
  height: 60%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;

  p {
    text-align: center;
  }
}

.about_us {
  color: #1a120f;
  text-align: center;

  p {
    font-size: 1.2rem;
  }
}

.gallery_item {
  width: 200px;
  height: 200px;
  border-radius: 50%;

  img {
    border-radius: 50%;
  }

  p {
    font-size: 1.3rem;
    padding: 10px 0;
    color: #1a120f;
  }
}

.grid_services {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid_service_item {
  width: 200px;
  height: 200px;
  border: 1px solid #1a120f4c;

  img {
    width: 100%;
  }
}

.footer_content {
  width: 100%;
  height: 100%;
  background-color: #1a120f;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.payments_icon {
  width: 100%;
  display: flex;

  img {
    width: 100%;
    height: 100%;
  }
}

.payment_content {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  p {
    font-size: 1.5rem;
    color: #ffffff;
  }
}

.address {
  p {
    font-size: 1.5rem;
    color: #ffffff;
  }
}
