@import url("./animations.css");

body {
  background: #000000;
  font-family: "Inter", sans-serif !important;
}

p,
h1,
h2 {
  margin: 0px;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: 100%;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 99;
}

.nav {
  width: 100%;
  background-color: transparent;
  display: flex;
  gap: 20px;
  padding: 25px 35px;
  justify-content: space-between;
  align-items: center;
}

.nav button {
  padding: 15px 45px;
  background: #276df1;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}

.header_item {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: #b0a2a2;
}

.header_item a {
  font-size: 14pt;
}

.header_item a:hover {
  color: #fff;
  cursor: pointer;
  transition: color 0.2s;
}

.section {
  width: 100%;
  height: 35rem;
  margin-bottom: 3rem;
}

#section_one {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/png/header_logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 150px 100px;
  margin-top: 20px;
}

#section_one > h1,
#section_one > p,
#section_one > .container_button {
  animation: slideUp 1s;
}

#section_one h1 {
  color: #fff;
  font-size: 2.5rem;
}

#section_one p {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.7;
  margin-top: 8px;
}

.container_button {
  display: flex;
  gap: 10px;
  margin-top: 3rem;
}

.container_button button {
  padding: 15px 40px;
  color: #fff;
}

#budget {
  background: rgb(39, 109, 241);
  border: none;
  font-size: 14pt;
  transition: background 1s;
  border-radius: 4px;
}

#budget:hover {
  background: rgba(39, 109, 241, 0.4);
  transition: background 0.3s;
}

#about {
  border: 1px solid #276df1;
  background-color: transparent;
  transition: 0.2s;
  font-size: 14pt;
}

#about:hover {
  background: rgba(39, 109, 241, 0.4);
  transition: 0.2s;
}

#section_two {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #1b1b1b;
  animation: slideUp 1s;
}

#section_four,
#section_three {
  border-bottom: 1px solid #1b1b1b;
}

#section_two h2 {
  color: #fff;
  font-size: 2.3rem;
  text-align: left;
}

.section_two_content {
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  animation: slideUp 1s;
}

.landing_page,
.ui_ux {
  height: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.landing_page p,
.ui_ux p {
  font-size: 1.4rem;
  text-align: center;
  vertical-align: center;
  color: #276df1;
}

.ux_icon,
.computer_icon {
  background: #161616;
  border-radius: 4px;
  display: flex;
  place-content: center;
  padding: 20px;
  width: 200px;
  height: 150px;
}

.section_three_content {
  display: flex;
  gap: 250px;
  width: 100%;
  padding: 0 30px;
}

.shadow {
  width: 300px;
  height: 350px;
  margin-left: 150px;
  background: #141313;
  border-radius: 10px;
  min-width: 250px;
  min-height: 300px;
}

#mission_image {
  position: relative;
  left: 50px;
  top: 50px;
}

.mission {
  padding-top: 100px;
  width: 400px;
  text-align: start;
}

.section_four_content,
.section_five_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 50px;
  padding: 0 50px;
}

.phases {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
  width: 100%;
}

.phases_item {
  padding: 0 30px;
  animation: slideSide 1s;
  /* animation-timeline: scroll(); */
  /* animation-range: cover 0% cover 50%; */
}

.phases_item h3 {
  color: #707070;
  font-size: 2.9rem;
}

.phases_item h4 {
  color: #276df1;
  font-size: 2rem;
  margin-top: 20px;
}

.phases_item p {
  color: #707070;
  font-size: 1.4rem;
  margin-top: 60px;
}

.project_item {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.project_background {
  width: 40%;
  height: 80%;
  background: #141313;
  padding: 30px;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.6;
  animation: opacityScale 1s;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.project_background:hover {
  opacity: 1;
  scale: 1.1;
  transition: opacity 0.5s ease-in-out, scale 0.5s ease-in-out;
}

.section_five_content button {
  padding: 15px 45px;
  background: #276df1;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.last_section {
  width: 100%;
  gap: 50px;
  margin-top: 300px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 50px 50px;
}

.last_section ul {
  color: #777777;
  font-size: 1.2rem;
  list-style: none;
  margin-top: 30px;
  line-height: 1.3;
}

.footer {
  width: 100%;
  color: #8e8e8e;
  padding: 30px 0;
  border-top: 1px solid #1b1b1b;
  display: flex;
  justify-content: center;
}

.services ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media only screen and (max-width: 576px) {
  .header p {
    font-size: 0.5rem;
  }

  #section_one {
    padding: 5px 50px;
  }

  .section {
    width: 100%;
    height: 35rem;
    margin-bottom: 5rem;
  }

  #section_two {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    border-bottom: 1px solid #1b1b1b;
    height: 50rem;
  }

  #section_two h2 {
    padding: 50px 120px;
  }

  .section_three_content {
    display: flex;
    flex-direction: column;
    gap: 320px;
    width: 100%;
  }
  .phases {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 30px;
    width: 100%;
  }

  .last_section {
    width: 100%;
    gap: 10px;
    margin-top: 450px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 50px 100px;
  }

  .shadow {
    display: none;
  }

  .mission {
    width: 100%;
    padding: 0 50px;
    text-align: center;
  }

  .section_three_content {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  #section_four {
    height: 60rem;
  }

  .project_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .project_background {
    width: 90%;
    height: 90%;
    padding: 15px;
  }

  .services {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .header_item {
    width: 80%;
  }

  #section_one {
    padding: 120px 50px;
  }

  #section_one h1 {
    color: #fff;
    font-size: 2.3rem;
  }

  #section_one p {
    color: #fff;
    font-size: 1.5rem;
  }

  .header p {
    font-size: 0.5rem;
  }

  .section {
    width: 100%;
    height: 35rem;
    margin-bottom: 5rem;
  }

  #section_two {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    border-bottom: 1px solid #1b1b1b;
    height: 50rem;
  }

  #section_two h2 {
    padding: 50px 120px;
  }

  .section_three_content {
    display: flex;
    flex-direction: column;
    gap: 320px;
    width: 100%;
  }
  .phases {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 30px;
    width: 100%;
  }

  .last_section {
    width: 100%;
    gap: 10px;
    margin-top: 450px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 50px 100px;
  }

  .shadow {
    display: none;
  }

  .mission {
    width: 100%;
    padding: 0 50px;
    text-align: center;
  }

  .section_three_content {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  #section_four {
    height: 60rem;
  }

  .project_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .project_background {
    width: 90%;
    height: 90%;
    padding: 15px;
  }

  .services {
    margin-bottom: 30px;
  }

  #section_five {
    height: 50rem;
  }

  .container_button {
    flex-direction: column;
  }
}
