body {
  background: #000000;
  font-family: "Inter", sans-serif !important;
}

p,
h1,
h2 {
  margin: 0px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  background-color: transparent;
  display: flex;
  gap: 20px;
  padding: 25px 35px;
  justify-content: space-between;
  align-items: center;
}

.header button {
  padding: 15px 45px;
  background: #276df1;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.header_item {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #b0a2a2;
}

.section {
  height: 35rem;
  width: 100%;
  margin-bottom: 5rem;
}

#section_one {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/svg/capa.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 150px 100px;
}

#section_one h1 {
  color: #fff;
  font-size: 2.5rem;
}

#section_one p {
  color: #fff;
  font-size: 2rem;
  line-height: 1.7;
}

.container_button {
  display: flex;
  gap: 10px;
  margin-top: 3rem;
}

.container_button button {
  padding: 15px 40px;
  color: #fff;
}

#budget {
  background: #276df1;
  border: none;
}

#about {
  border: 1px solid #276df1;
  background-color: transparent;
}

#section_two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border-bottom: 1px solid #1b1b1b;
}

#section_four,
#section_three {
  border-bottom: 1px solid #1b1b1b;
}

#section_two h2 {
  color: #fff;
  font-size: 2.3rem;
  text-align: center;
  padding: 150px 120px;
}

.section_two_content {
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.landing_page,
.ui_ux {
  height: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.landing_page p,
.ui_ux p {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 70px;
  color: #276df1;
}

.ux_icon,
.computer_icon {
  background: #161616;
  border-radius: 4px;
  display: flex;
  place-content: center;
  padding: 20px;
}

.section_three_content {
  display: flex;
  gap: 320px;
  width: 100%;
}

.shadow {
  width: 300px;
  height: 350px;
  margin-left: 200px;
  background: #141313;
  border-radius: 10px;
}

#mission_image {
  position: relative;
  left: 50px;
  top: 50px;
}

.mission {
  padding-top: 100px;
  width: 400px;
  text-align: start;
}

.section_four_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 50px;
  padding: 0 50px;
}

.phases {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 150px;
  margin-top: 30px;
  width: 100%;
}

.phases_item {
  padding: 0 30px;
}

.phases_item h3 {
  color: #707070;
  font-size: 2.9rem;
}

.phases_item h4 {
  color: #276df1;
  font-size: 2rem;
  margin-top: 20px;
}

.phases_item p {
  color: #707070;
  font-size: 1.4rem;
  margin-top: 60px;
}

@media only screen and (max-width: 576px) {
  .header p {
    font-size: 0.5rem;
  }

  #section_one {
    padding: 80px 100px;
  }
}

@media only screen and (max-width: 768px) {
  .header_item {
    width: 80%;
  }

  #section_one {
    padding: 120px 100px;
  }

  #section_one h1 {
    color: #fff;
    font-size: 2.3rem;
  }

  #section_one p {
    color: #fff;
    font-size: 1.5rem;
  }
}
