@import url("../../css/animations.css");

body {
  background: #000000;
  font-family: "Inter", sans-serif !important;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: 2.9rem;
  color: #ffffff;
}

h2 {
  font-size: 2.3rem;
  font-weight: 400;
  font-style: normal;
}

.header {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  gap: 80px;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  padding: 0 20px;
  background: #000000;
  z-index: 3;
}

.header a {
  color: #ffffff;
}

.header button {
  background: #a2e533;
  padding: 15px 45px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: #000000;
}

.session_one,
.session_two,
.session_three,
.session_four,
.session_five {
  width: 100%;
  height: 42rem;
  display: flex;
  place-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.personal_banner {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../../assets/jpg/personal_banner.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 14rem;
}

.personal_banner button {
  background: transparent;
  border: 1px solid #a2e533;
  color: #ffffff;
  padding: 15px 45px;
  margin-top: 120px;
  cursor: pointer;
}

.text_personal_banner {
  position: relative;
  left: 15%;
  top: 5%;
  width: 500px;
  line-height: 1.3;
  animation: slideUp 1s;
}

.session_two_flex,
.session_four_flex,
.session_five_flex {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 30px;
}

.image_container,
.image_four_container {
  width: 100%;
  height: 100%;
}

.image_four_container {
  display: flex;
  justify-content: flex-end;
}

.shadow_image_container {
  animation: scaleUp 1s;
}

.shadow_image_container,
.shadow_image_four_container,
.shadow_image_five_container {
  background: #1e1e1e;
  width: 60%;
  height: 100%;
}

.text_session_two_container {
  animation: slideSide 1s;
}

.text_session_two_container,
.text_session_four_container {
  text-align: start;
  padding: 0 3rem;
  color: #ffffff;

  span {
    color: #a2e533;
    text-transform: uppercase;
  }

  p {
    margin-top: 3rem;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #616161;
  }
}

.image_session_two_container,
.image_session_five_container {
  width: 80%;
  height: 80%;
  position: relative;
  left: 40%;
  top: 13%;
}

.image_session_four_container {
  width: 80%;
  height: 80%;
  position: relative;
  right: 40%;
  top: 13%;
  border: 2px solid #a2e533;
}

.session_three_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;

  p {
    padding: 0 25px;
  }
}

.session_three h2 {
  text-transform: uppercase;
}

.card {
  width: 30%;
  height: 60%;
  background: #141313;
  border-radius: 4px;

  p {
    color: #ffffff;
    text-align: center;
  }
}

.training,
.mentoring {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    font-size: 1.3rem;
    color: #a2e533;
    padding-top: 2rem;
  }
}

.image_card {
  width: 100%;
  height: 70%;
}

.form_contact {
  width: 100%;
  height: 80%;
  text-align: center;
  padding-right: 100px;
}

.form_contact h2 {
  color: #a2e533;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.form_contact p {
  color: #fff;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.form input {
  padding: 15px 10px;
  border: 1px solid #fff;
  background: inherit;
  color: #fff;
}

.form textarea {
  padding: 15px 10px;
  background: inherit;
  color: #616161;
  border: 1px solid #fff;
}

.form button {
  padding: 15px 30px;
  border-radius: 4px;
  text-transform: uppercase;
  background: #616161;
  color: #fff;
  cursor: pointer;
}

.form input,
button,
textarea {
  margin: 5px 70px;
  outline: inherit;
  font-family: Arial Arial, Helvetica, sans-serif;
}

.footer_session {
  width: 100%;
  background: #a2e533;
  padding: 50px 30px;
  margin-top: 200px;
  display: inline-block;
}

.footer_session span {
  text-transform: uppercase;
  font-size: 2;
  color: #000;
}

@media only screen and (max-width: 576px) {
  h1 {
    font-size: 2.1rem;
  }

  h2 {
    font-size: 2rem;
  }

  .text_personal_banner {
    width: 350px;
    left: 12%;
  }

  .session_three_container {
    padding: 0 15px;
    gap: 4px;
    height: 60%;
  }

  .card {
    width: 50%;
    height: 60%;
    background: #141313;
    border-radius: 4px;

    p {
      color: #ffffff;
      text-align: center;
    }
  }

  .session_two_flex,
  .session_four_flex,
  .session_five_flex {
    gap: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .session_two_flex,
  .session_four_flex,
  .session_five_flex {
    grid-template-columns: 1fr;
  }

  .form_contact {
    padding: 0;
  }

  .session_five {
    margin-top: 12rem;
  }

  .footer_session {
    margin-top: 500px;
  }

  .header {
    gap: 10px;
  }
}
