body {
  background: #ffffff;
  font-weight: 400;
  font-style: normal;
  font-family: Inter, sans-serif;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  color: #ffffff;
  font-size: 2.5rem;
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 2.3rem;
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  padding: 1rem 0;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  color: #1a120f;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.header button {
  background: #1a120f;
  width: 130px;
  border: none;
  cursor: pointer;
  height: 40px;
  border-radius: 5px;
  color: #d6cdc9;
}

.session_one,
.session_two,
.session_three,
.session_five {
  width: 100%;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.session_four {
  margin-top: 7rem;
  width: 100%;
  height: 45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner_image {
  width: 100%;
  height: 100%;
  background: #1a120f;

  img {
    width: 100%;
    opacity: 0.1;
  }
}

.banner-title {
  position: absolute;
  z-index: 1;
}

.gallery {
  width: 100%;
  height: 60%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;

  p {
    text-align: center;
  }
}

.about_us {
  width: 100%;
  color: #1a120f;
  text-align: center;

  p {
    font-size: 1.2rem;
  }
}

.gallery_item {
  width: 200px;
  height: 200px;
  border-radius: 50%;

  img {
    border-radius: 50%;
  }

  p {
    font-size: 1.3rem;
    padding: 10px 0;
    color: #1a120f;
  }
}

.grid_services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  gap: 20px;
  justify-items: center;
}

.grid_service_item {
  width: 300px;
  height: 300px;
  border: 1px solid #1a120f4c;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;

  p {
    color: #1a120f;
  }
  img {
    width: 100%;
  }
}

.grid_title {
  font-size: 1.5rem;
  color: #1a120f;
  font-family: "Libre Caslon Display", serif;
  font-weight: 500;
  display: inline-block;
}

.history {
  width: 100%;
  height: 100%;
  background: #44322b;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.history_text {
  width: 100%;
  text-align: center;
  color: #ffffff;
  padding: 4rem;
}

.history_banner {
  width: 100%;
  height: 400px;

  img {
    width: 100%;
    opacity: 0.5;
  }
}

.map {
  width: 50%;
  height: 70%;
}

.footer {
  width: 100%;
  height: 25rem;
  background: #1a120f;
  margin-top: 4rem;
}

@media (max-width: 600px) {
  .grid_services {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: auto;
  }

  .grid_service_item {
    width: 200px;
    height: 200px;
  }

  .gallery_item {
    width: 120px;
    height: 120px;
  }
}
